# Archivos de Django
__pycache__/
*.pyc
*.pyo
*.db
*.sqlite3

# Entorno virtual
venv/
env/

# Configuración local
*.log
*.pot
*.py[co]
.DS_Store
.idea/
.vscode/

# Archivos estáticos compilados
staticfiles/

# Archivos de migraciones
*/migrations/__pycache__/
